<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mirageledger.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.jason.mirageledger.user.entity.po.User">
            <result property="id" column="ID_" jdbcType="VARCHAR"/>
            <result property="name" column="NAME_" jdbcType="VARCHAR"/>
            <result property="desc" column="DESC_" jdbcType="VARCHAR"/>
            <result property="password" column="PASSWORD_" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID_,NAME_,DESC_,
        PASSWORD_,CREATE_TIME,UPDATE_TIME
    </sql>
</mapper>
