<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mirageledger.course.mapper.CourseEvaluationMapper">

    <resultMap id="BaseResultMap" type="com.jason.mirageledger.course.entity.po.CourseEvaluation">
        <result property="id" column="ID_" jdbcType="VARCHAR"/>
        <result property="courseId" column="COURSE_ID" jdbcType="VARCHAR"/>
        <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
        <result property="teachingContent" column="TEACHING_CONTENT" jdbcType="DOUBLE"/>
        <result property="teachingMethod" column="TEACHING_METHOD" jdbcType="DOUBLE"/>
        <result property="curriculumManagement" column="CURRICULUM_MANAGEMENT" jdbcType="DOUBLE"/>
        <result property="courseAssessment" column="COURSE_ASSESSMENT" jdbcType="DOUBLE"/>
        <result property="teachingAttitude" column="TEACHING_ATTITUDE" jdbcType="DOUBLE"/>
        <result property="learningHarvest" column="LEARNING_HARVEST" jdbcType="DOUBLE"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID_,COURSE_ID,
        TEACHING_CONTENT,TEACHING_METHOD,CURRICULUM_MANAGEMENT,
        COURSE_ASSESSMENT,TEACHING_ATTITUDE,LEARNING_HARVEST,
        CREATE_TIME,UPDATE_TIME
    </sql>

    <sql id="Column_Left_Join">
        eva.ID_,eva.COURSE_ID,
        eva.TEACHING_CONTENT,eva.TEACHING_METHOD,eva.CURRICULUM_MANAGEMENT,
        eva.COURSE_ASSESSMENT,eva.TEACHING_ATTITUDE,eva.LEARNING_HARVEST,
        eva.CREATE_TIME,eva.UPDATE_TIME
    </sql>

    <select id="getCourseEvaluationByIdAndUserId"
            resultType="com.jason.mirageledger.course.entity.po.CourseEvaluation">
        select
        <include refid="Column_Left_Join"/>
        from mirageledger_course_evaluation eva left join mirageledger_course course on eva.COURSE_ID = course.ID_
        where eva.ID_ = #{id}
        and course.USER_ID = #{userId}
    </select>

    <select id="getCourseEvaluationPage"
            resultType="com.jason.mirageledger.course.entity.po.CourseEvaluation">
        select
        <include refid="Column_Left_Join"/>
        from mirageledger_course_evaluation eva left join mirageledger_course course on eva.COURSE_ID = course.ID_
        where
        1=1
        <if test="userId != null and userId != ''">
            course.USER_ID = #{userId}
        </if>
        <if test="courseName != null and courseName != ''">
            and course.NAME_ like concat('%',#{courseName},'%')
        </if>
        order by eva.UPDATE_TIME desc
    </select>
</mapper>
