<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.moneybag.teacher.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.jason.moneybag.teacher.entity.Student">
            <id property="id" column="ID_" jdbcType="VARCHAR"/>
            <result property="teacherId" column="TEACHER_ID" jdbcType="VARCHAR"/>
            <result property="name" column="NAME_" jdbcType="VARCHAR"/>
            <result property="avatar" column="AVATAR_" jdbcType="VARCHAR"/>
            <result property="gender" column="GENDER" jdbcType="VARCHAR"/>
            <result property="birthdate" column="BIRTHDATE_" jdbcType="DATE"/>
            <result property="phone" column="PHONE_" jdbcType="VARCHAR"/>
            <result property="parentPhone" column="PARENT_PHONE" jdbcType="VARCHAR"/>
            <result property="parentWechat" column="PARENT_WECHAT" jdbcType="VARCHAR"/>
            <result property="notes" column="NOTES" jdbcType="VARCHAR"/>
            <result property="createdAt" column="CREATED_AT" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="UPDATED_AT" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID_,TEACHER_ID,NAME_,
        AVATAR_,GENDER,BIRTHDATE_,
        PHONE_,PARENT_PHONE,PARENT_WECHAT,
        NOTES,CREATED_AT,UPDATED_AT
    </sql>
</mapper>
