<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.moneybag.teacher.mapper.SystemInfoMapper">

    <resultMap id="BaseResultMap" type="com.jason.moneybag.teacher.entity.SystemInfo">
            <id property="id" column="ID_" jdbcType="VARCHAR"/>
            <result property="teacherId" column="TEACHER_ID" jdbcType="VARCHAR"/>
            <result property="key" column="KEY_" jdbcType="VARCHAR"/>
            <result property="value" column="VALUE_" jdbcType="VARCHAR"/>
            <result property="createdAt" column="CREATED_AT" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="UPDATED_AT" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID_,TEACHER_ID,KEY_,
        VALUE_,CREATED_AT,UPDATED_AT
    </sql>
</mapper>
